#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1 {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_10 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_10 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_1 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_1 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_2 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_2 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}