#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b83bd191-ad16-43da-926b-73bb49c5ce0c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}