#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_2 {
  border-radius: 0px 0px 0px 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_10 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Button_43 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 36px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Button_44 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 36px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Button_45 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 36px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Button_7 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Button_13 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 112px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_2 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_2 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Button_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Button_11 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_3 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Single-line-item {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_4 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Line_4 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Table_1 {
  border-collapse: separate;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}