#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}