#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Line_1 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Line_1 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Line_2 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Line_2 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 #s-Table_1 {
  border-collapse: separate;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef8a244f-279d-40eb-978b-135b9b3ca974 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}