#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Bg-white_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Softkeys-bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-keyboard_letter_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-keyboard_letter_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-keyboard_letter_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-To_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Subject_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-send_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-attachment_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-arrow-back_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-hour_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-signals_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Bg-white {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-To {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Subject {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-send_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-attachment_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-arrow-back_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_1 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_1 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_2 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_2 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_8 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_8 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-checkbox_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Rectangle_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_16 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_16 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-checkbox_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Rectangle_6 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_18 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_18 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-checkbox_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Rectangle_7 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #757575;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #757575;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #757575;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #757575;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_20 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_20 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_10 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Line_10 {
  stroke-width: 2px;
  stroke: #6200EE;
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Ellipse_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-plus_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f6efe305-a047-44b6-a8af-5c1bb1e434f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}