#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-menu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-mic_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-raised_Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b #s-raised_Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fef5a022-8fac-4c83-ab6b-eeebb86b140b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}